Repository whitesource-ps/ws-sbom-generator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @whitesource-ps/whitesource-ps-review, @whitesource-ps/whitesource-ps-ci, @whitesource-ps/whitesource-ps-doc

Refactoring.
  Dockerfile
  README.md
  setup.py
  ws_sbom_generator/resources/creation_info.json
  ws_sbom_generator/sbom_generator.py
  ws_sbom_generator/tests/test_sbom_generator.py
Owners: @whitesource-ps/whitesource-ps-review, @whitesource-ps/whitesource-ps-doc

Refactoring.
  .github/workflows/ci.yml
Owners: @whitesource-ps/whitesource-ps-ci

Refactoring.
  .github/workflows/ci.yml
Owners: @whitesource-ps/whitesource-ps-ci

Update ci.yml
  .github/workflows/ci.yml
Owners: @whitesource-ps/whitesource-ps-ci

Update ci.yml
  .github/workflows/ci.yml
Owners: @whitesource-ps/whitesource-ps-ci

Refactoring.
  README.md
  ws_sbom_generator/resources/creation_info.json
  ws_sbom_generator/sbom_generator.py
Owners: @whitesource-ps/whitesource-ps-doc, @whitesource-ps/whitesource-ps-review

Refactoring.
  ws_sbom_generator/sbom_generator.py
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
Owners: @whitesource-ps/whitesource-ps-review

Refactoring.
  Dockerfile
  README.md
Owners: @whitesource-ps/whitesource-ps-review, @whitesource-ps/whitesource-ps-doc

.github/CODEOWNERS:

* @whitesource-ps/whitesource-ps-review
/.github @whitesource-ps/whitesource-ps-ci
/.whitesource @whitesource-ps/whitesource-ps-ci
/README.md @whitesource-ps/whitesource-ps-doc
